.password {
    margin-top: 10px;
}

.second {
    width: 700px;
    margin: 30px auto;
}
.actions{
    width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.big {
    box-sizing: content-box;
    width: 700px;
    height: 400px;
    border: 5px solid black;
    background: rgb(27, 104, 57);
    position: relative;
}
.small {
    width: 40px;
    height: 40px;
    position: absolute;
    background: black;
}